{% extends "base.html" %}
{% load static %}

{% block title %}News{% endblock title %}


{% block content %}

  <section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">

          {% for news in news_list %}
          <div class="single_iteam">
              <a href="{% url 'single_page' news.pk news.slug%}"><img src="{{ news.image.url }}" alt=""></a>
              <div class="slider_article">
                  <h2><a href="{% url 'single_page' news.pk news.slug%}">{{ news.title | truncatewords:5 }}</a></h2>
                  <p><a class="news_body" href="{% url 'single_page' news.pk news.slug %}">{{ news.body | truncatewords:10 }}</a></p>
              </div>
          </div>
          {% endfor %}

        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Latest post</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
              
              {% for news in latest_post %}
              <li>
                <div class="media"> <a href="{% url 'single_page' news.pk news.slug %}" class="media-left"> <img src="{{ news.image.url }}" alt=""></a>
                  <div class="media-body"> <a href="{% url 'single_page' news.pk news.slug %}" class="catg_title">{{news.title}}</a> </div>
                </div>
              </li>
              {% endfor %}
            </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Local</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                {% for one in local_one %}
                <li>
                    <figure class="bsbig_fig">
                        <a href="{% url 'single_page' one.pk one.slug %}" class="featured_img">  <!-- URL ni to'g'ri yozing -->
                            <img alt="" src="{{ one.image.url }}">
                            <span class="overlay"></span>
                        </a>
                        <figcaption><a href="{% url 'single_page' one.pk one.slug %}">{{ one.title }}</a></figcaption>  <!-- URL ni to'g'ri yozing -->
                        <p>{{ one.body | truncatewords:10 }}</p>
                    </figure>
                </li>
                {% endfor %}

              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">

                {% for news in local_news %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{% url 'single_page' news.pk news.slug %}" class="media-left"> <img alt="" src="{{news.image.url}}"> </a>
                    <div class="media-body"> <a href="{% url 'single_page' news.pk news.slug %}" class="catg_title">{{news.title}}</a> </div>
                  </div>
                </li>
                {% endfor %}
    
              </ul>
            </div>
          </div>
          <div class="fashion_technology_area">
            <div class="fashion">
              <div class="single_post_content">
                <h2><span>Foreign</span></h2>
                <ul class="business_catgnav wow fadeInDown">
                  {% for one in foreign_one %}
                  <li>
                      <figure class="bsbig_fig">
                          <a href="{% url 'single_page' one.pk one.slug %}" class="featured_img"> 
                              <img alt="" src="{{ one.image.url }}">
                              <span class="overlay"></span>
                          </a>
                          <figcaption><a href="{% url 'single_page' one.pk one.slug %}">{{ one.title }}</a></figcaption>  
                          <p>{{ one.body | truncatewords:10 }}</p>
                      </figure>
                  </li>
                  {% endfor %}

                </ul>
                <ul class="spost_nav">
                  {% for news in foreign_news %}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'single_page' news.pk  news.slug %}" class="media-left"> <img alt="" src="{{news.image.url}}"> </a>
                      <div class="media-body"> <a href="{% url 'single_page' news.pk news.slug %}" class="catg_title">{{news.title}}</a> </div>
                    </div>
                  </li>
                  {% endfor %}

                </ul>
              </div>
            </div>

            <div class="technology">
              <div class="single_post_content">
                <h2><span>Technology</span></h2>
                <ul class="business_catgnav">

                  {% for one in technology_one %}
                  <li>
                      <figure class="bsbig_fig">
                          <a href="{% url 'single_page' one.pk one.slug %}" class="featured_img">  <!-- URL ni to'g'ri yozing -->
                              <img alt="" src="{{ one.image.url }}">
                              <span class="overlay"></span>
                          </a>
                          <figcaption><a href="{% url 'single_page' one.pk one.slug %}">{{ one.title }}</a></figcaption>  <!-- URL ni to'g'ri yozing -->
                          <p>{{ one.body | truncatewords:10 }}</p>
                      </figure>
                  </li>
                  {% endfor %}

                </ul>
                <ul class="spost_nav">

                  {% for news in technology_news %}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'single_page' news.pk news.slug %}" class="media-left"> <img alt="" src="{{news.image.url}}"> </a>
                      <div class="media-body"> <a href="{% url 'single_page' news.pk news.slug %}" class="catg_title">{{news.title}}</a> </div>
                    </div>
                  </li>
                  {% endfor %}

                </ul>
              </div>
            </div>
          </div>
          <div class="single_post_content">
            <h2><span>Photography</span></h2>
            <ul class="photograph_nav  wow fadeInDown">
              {% for photo in photos %}
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="{{photo.image.url}}" title="{{photo.title}}"> <img src="{{photo.image.url}}" alt=""/></a> </figure>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Popular Post</span></h2>
            <ul class="spost_nav">
              {% for news in popular_news%}
              <li>
                <div class="media wow fadeInDown"> <a href="{% url 'single_page' news.pk news.slug %}" class="media-left"> <img alt="" src="{{news.image.url}}"> </a>
                  <div class="media-body"> <a href="{% url 'single_page' news.pk news.slug %}" class="catg_title"> {{news.title}}</a> </div>
                </div>
              </li>
              {% endfor %}

            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
              <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
              <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                
                <ul>
                  {% for category in categories %}
                  <li class="cat-item"><a href="#">{{category.name}}</a></li>
                  {% endfor %}
                </ul>

              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  {% for  news in news_list %}
                  <li>
                    <div class="media wow fadeInDown"> <a href="{% url 'single_page' news.pk news.slug %}" class="media-left"> <img alt="" src="{{news.image.url}}" ></a>
                      <div class="media-body"> <a href="{% url 'single_page' news.pk news.slug %}" class="catg_title">{{news.title}}</a> </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Sponsor</span></h2>
            <a class="sideAdd" href="#"><img src="{% static 'images/add_img.jpg' %}" alt=""></a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Category Archive</span></h2>
            <select class="catgArchive">
              <option>Select Category</option>
              {% for category in categories %}
              <option>{{category.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>Links</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Life &amp; Style</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock content %}


